nav {
  background-color: #333; /* El color de fondo de la barra de navegación */
  height: 60px; /* La altura de la barra de navegación */
  display: flex; /* Usamos flexbox para alinear los elementos en la barra de navegación */
  justify-content: flex-start; /* Alinea los elementos al comienzo de la barra de navegación */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 0 20px; /* Añade un poco de padding a los lados de la barra de navegación */
}

ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  margin: 0; /* Elimina los márgenes de la lista */
  padding: 0; /* Elimina el padding de la lista */
  display: flex; /* Usamos flexbox para alinear los elementos de la lista */
}

li {
  margin-right: 20px; /* Añade un margen a la derecha de cada elemento de la lista */
}

li a {
  color: #fff; /* El color de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

li a:hover {
  color: #ddd; /* El color de los enlaces al pasar el cursor sobre ellos */
}

.screen{
  display: flex;
  margin-top: 5%;
  
}
.subscreenRight{
  flex: 50%;
  border-style: double;
  margin-left: 5%;
}
.subscreenLeft{
  flex: 50%;
  border-style: double;
  margin-right: 5%;
}
h1{
  text-align: center;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}