.about {
    background-image: url('graph2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-title {
    margin-top: -10vh;
    text-align: left;
    font: normal normal 560 100px/120px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    height: 10%;
  }
  
  .hero-subtitle {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
  }
  .hero-subcontainer{
    margin-top: -10vh;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
  }
  

  .subcontainerAbout{
    background-color: #B8E2C6;
    width: 2166px;
    height: 1080px;
  }