.about {
    background-image: url('graph2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
  }
  
  .hero-title {
    margin-top: -10vh;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
    font-size: 2.5em;
    height: 10%;
  }
  
  .hero-subtitle {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    margin-left: 5%;
  }
  .hero-subcontainer{
    margin-top: -10vh;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
  }
  

  .subcontainerAbout{
    background-color: #B8E2C6;
    width: 100vw;
    height: 100vh;
  }
  .subcontainerAbout h1{
    text-align: center;
  }
  .tutorial{
    width: 100vw;
    height: 60vh;
    display: flex;
  }
  .MDS,
.FSM{
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid black
}
  .subC{
    display: flex;
    flex-direction: row;
  }
  .Cuadrados{
    width: 10vw;
    height:10vh;
    margin: 3%;
    background-color: black;
  }