.hero {
    background-image: url('graph1.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-titleHome {
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    height: 10%;
    font-size: 5em;
    margin-top: -20vh;
  }
  
  .hero-subtitleHome {
    color: #FFFFFF;
    font-size: 1.5em;
  }
  .hero-subcontainer{
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
  }
  

  .subcontaier{
    background-color: #76CF94;
    width: 100vw;
    height: 100vh;
  }

  .TituloOpt{
    top: 50%;
    left: 50%;
  }
  .tituloOptTx{
    text-align: center;
  }
  .OptButton{
    border-radius: 10%;
    top: 50%;
    left: 50%;
  }