.Layout{
  background-color: #333333;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.BOpt{
  margin-left: 5vw;
}
.buttonFF{
  margin: 10px;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
  background-color: #333333;
  color: #FFFFFF;;
  margin-top: 5vh;
}
.optimizedFunctions{
  display: flex;
}
.optimizedFunctions p{
margin-right: 370px;
margin-top: -3px;
}